<div class="container profilePage">
  <div class="profilePage_user">


      <div class="profilePage_user_name">
          <%= User.first.username %>
      </div>



    <div class="profilePage_user_image">
          <div class="profilePage_user_actionButton">
          <%= link_to 'Edit', edit_profile_path %>
        </div>

      <div class="profilePage_user_introduction">
      aaaaaaaaaaaaaaaa
      </div>

      <%= image_tag 'default-avatar.png' %>
    </div>


  </div>
</div>

<%= link_to 'home', root_path %>

