@import './variables'; 
.btn-primary {
  background-color: white;
  width: 73px;
  height: 24px;
  left: 16px;
  top: 239px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

.btn-secondary {
  background-color: white;
  border: solid 1px $primary-color;
  width: 100%;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  font-weight: bold;
  cursor: pointer;

}