@import './variables'; 
.btn-primary {
  background-color: white;
  position: absolute;
  width: 73px;
  height: 24px;
  left: 16px;
  top: 239px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}