@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;

.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: $header-padding-y 16px;
  font-weight: bold;
  

  &_pageTitle {
    color: black;
    line-height: $avatar-size;
    font-size: $font-lg;
    padding-right: 30%;
  }

  &_avatar {
    width: $avatar-size;
    height: $avatar-size;
    border-radius: 100%;
  }

  &_likes{
    padding-top: 6px;
  }

  &_header_avatar_likes{
    width: $avatar-size;
    height: $avatar-size;
  }

 
}
